<h1>New person</h1>

<% if @person.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

	<ul>
		<% @person.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<%= form_for(@person, :html => {:multipart => true}) do |f| %>
<dl class="dl-horizontal lage-dt">
	<dt>
		Vorname:
	</dt>
	<dd>
		<input name="person[surname]" type="text" value="<%= @person.surname %>" />
	</dd>
	<dt>
		Nachname:
	</dt>
	<dd>
		<input name="person[givenName]" type="text" value="<%= @person.givenName %>" />
	</dd>
	<dt>
		Name/Alias (CN):
	</dt>
	<dd>
		<input name="person[cn]" type="text" value="<%= @person.cn %>" />
	</dd>
	<dt>
		Login:
	</dt>
	<dd>
		<input name="person[uid]" type="text" value="<%= @person.uid %>" />
	</dd>
	<dt>
		Email:
	</dt>
	<dd>
		<input name="person[mail]" type="text" value="<%= @person.mail %>" />
	</dd>
</dl>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>

<%= link_to 'Back', people_path %>