<p id="notice">
	<%= notice %>
</p>

<dl class="dl-horizontal lage-dt">
	<% done_list = {}%>
	<% @person.must.each {|m| %>
	<%= render('show', :m => m) if done_list[m.id].nil?%>
	<% done_list[m.id] = true }%>

	<% @person.may.each {|m| %>
	<%= render('show', :m => m) if done_list[m.id].nil?%>
	<% done_list[m.id] = true }%>
</dl>

Gruppen:
<ul>
	<% @person.groups.each {|g| %>
	<li>
		<%= if g.description.nil? then g.cn else g.description end %>
	</li>
	<% } %>
</ul>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
