<h1>Listing groups</h1>

<table class="table table-hover">
	<tr>
		<th>CommonName</th>
		<th>Name</th>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% if !@groups.nil? then %>
	<% @groups.each do |group| %>
	<tr onclick="window.location = '<%="http://#{group.cn}.#{@config["site"]["host"]}"%>'">
		<td><%= group.cn %></td>
		<td><%= group.name %></td>
		<td><%= group.description %></td>
		<td><%= link_to 'Show', "http://#{group.cn}.#{@config["site"]["host"]}" %></td>
		<td><%= link_to 'Edit', edit_group_path(group) %></td>
		<td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
	<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
