<h1>Hallo <%= @user.givenName%></h1>
<% if !@hide_data then %>
<h3>Zur konntrolle deine Daten:</h3>
<dl class="dl-horizontal lage-dt">
	<dt>
		Nachname:
	</dt>
	<dd>
		<%= @user.surname %>
	</dd>

	<dt>
		Email:
	</dt>
	<dd>
		<%= @user.mail %>
	</dd>

	<dt>
		Login:
	</dt>
	<dd>
		<%= @user.uid %>
	</dd>

	<dt>
		Nutzer ID:
	</dt>
	<dd>
		<%= @user.uidNumber%>
	</dd>

	<dt>
		Berechtigungsgruppen:
	</dt>
	<dd>
		<% @user.groups.each {|g| %>
		<%= if g.description.nil? then g.cn else g.description end %>
		<br />
		<% } %>
	</dd>
</dl>
<% end %>

<h3>Password ändern:</h3>
<div class="login-form">
	<span style="color: red"><%= @error%></span>
	<form method="post">
		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
		<fieldset>
			<div class="clearfix">
				<input name=old type="password" placeholder="Altes Passwort">
			</div>
			<div class="clearfix">
				<input name=new type="password" placeholder="Neues Passwort">
			</div>
			<div class="clearfix">
				<input name=new2 type="password" placeholder="Passwort wiederholung">
			</div>
			<button class="btn primary" type="submit">
				Password ändern
			</button>
		</fieldset>
	</form>
</div>

